.DS_Store
.dockerignore
.env
.env.default
.env.test
.env.prod
.env.prod/*
.git
.gitignore
.mypy_cache
.pytest_cache
.vscode
.venv*
.ipynb_checkpoints
Dockerfile
README.md
app.log
build_for_test.sh
db.sqlite3
docker-compose.yml
node_modules
server_restart.sh
ssl_acme.sh
venv
vol
vol/*
docs
docs/*
tests
tests/*
docker_build.sh
docker-compose.yml
docker_build_pro.sh
docker_build_amd64.sh
local_rebuild_test.sh
dist/*
dist
test
test/*
__pycache__
__pycache__/*
.vscode
.vscode/*
